@font-face {
	font-family: 'Solomon';
	src: url('../fonts/Solomon.eot?') format('eot'),
	url('../fonts/Solomon.woff') format('woff'),
	url('../fonts/Solomon.ttf')  format('truetype'),
	url('../fonts/Solomon.svg#GothamPro') format('svg');
	font-weight: 300;
}

@font-face {
	font-family: 'Solomon';
	src: url('../fonts/Solomon-Bold.eot?') format('eot'),
	url('../fonts/Solomon-Bold.woff') format('woff'),
	url('../fonts/Solomon-Bold.ttf')  format('truetype'),
	url('../fonts/Solomon-Bold.svg#GothamPro-Light') format('svg');
	font-weight: 600;
}


@font-face {
	font-family: 'Solomon';
	src: url('../fonts/Solomon-Heavy.eot?') format('eot'),
	url('../fonts/Solomon-Heavy.woff') format('woff'),
	url('../fonts/Solomon-Heavy.ttf')  format('truetype'),
	url('../fonts/Solomon-Heavy.svg#GothamPro-Light') format('svg');
	font-weight: 900;
}

body {
	font-family: 'Solomon';
	background-color: #fafafa;
	margin: 0
}

h1, h2, h3 {
	margin: 0;
}

p {
	margin: 10px 0;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/*Grid*/
.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}

.col-100 {
	width: 100%;
}

.col-40, .col-50, .col-60, .col-100 {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row:after, .col:after, nav:after {
	content: "";
	display: table;
	clear: both;
}
/*End Grid*/

.text-center {
	text-align: center;
}

button:focus,
.slick-slider-init:focus,
a:focus {
	outline: none !important;
}

header {
	margin: 30px 0;
}

.logo {
	margin-bottom: 15px;
}

.logo a {
	color: #e22466;
	font-size: 68px;
	font-weight: 900;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.logo a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.logo a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.logo a:hover span,
.logo a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.logo a:hover span::before,
.logo a:focus span::before {
	background: #e22466;
	color: #ffffff;
}

.page-desc {
	color: #e22466;
	font-size: 16px;
	font-weight: 600;
	margin: 0 auto 30px auto;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	-webkit-animation: typing 3s steps(26, end), caret 0.9s step-end infinite;
	animation: typing 3s steps(26, end), caret 0.9s step-end infinite;
}

/* Navigation */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	overflow: hidden;
	display: inline-block;
}
nav ul li a {
	color: #e29e24;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	padding: 0 20px;
	height: 1em;
}

nav ul li a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

nav ul li a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

nav ul li a:hover span,
nav ul li a:focus span {
	color: #e22466;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* End Navigation */

.block {
	padding: 50px 40px 30px 40px;
	background-color: white;
	border: 1px solid #eeeeee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.06);
}

.cat-name a {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9b9b9b;
	text-decoration: none;
}
.cat-name a:hover {
	text-decoration: underline;
}
.product-name {
	font-size: 46px;
	font-weight: 900;
	color: #e32466;
	text-transform: uppercase;
}

.product-desc {
	font-size: 21px;
	font-weight: bold;
	color: #4a4a4a;
	max-height: 208px;
	overflow: hidden;
	position: relative;
}

.product-desc:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 9px;
	-moz-box-shadow: inset 0 -9px 9px -4px rgba(255,255,255,1);
	-webkit-box-shadow: inset 0 -9px 9px -4px rgba(255,255,255,1);
	box-shadow: inset 0 -9px 9px -4px rgba(255,255,255,1)
}
/* Slider */
/* slick */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

ul.slick-dots {
	position: absolute;
	bottom: -55px;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	text-align: center;
}

ul.slick-dots li {
	display: inline-block;
}

ul.slick-dots li button {
	font-size: 0;
	text-indent: 9999px;
	border: 0;
	width: 70px;
	height: 8px;
	margin: 0 10px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}

ul.slick-dots li.slick-active button {
	background-color: #4a4a4a;
	cursor: default;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-slide {
	outline: 3px !important;
	border: 0 !important;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
.slider-prod-img img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
/* End Slider */

/*Btns*/
.poduct-actions {
	position: absolute;
	bottom: 20px;
	background-color: #ffffff;
}

.product-price,
.btn {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 24px;
	border-radius: 6px;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;

}
.btn:hover {
	opacity: 0.8;
	box-shadow: 0 6px 14px 0 rgba(113, 215, 135, 0.75)
	-webkit-transform: translate(0, -1px);
	-moz-transform: translate(0, -1px);
	-o-transform: translate(0, -1px);
	transform: translate(0, -1px);
}
.btn:active {
	box-shadow: 0 3px 14px 0 rgba(113, 215, 135, 0.75)
	-webkit-transform: translate(0, 1px);
	-moz-transform: translate(0, 1px);
	-o-transform: translate(0, 1px);
	transform: translate(0, 1px);
}
.product-price {
	background-color: rgba(113,214,135,0.2);
	color: #71d687;
}
.product-price > span {
	position: absolute;
	display: block;
	color: #a4a4a4;
	font-weight: 300;
	margin-top: 10px;
}

.action-wrap {
	float: left;
	margin-right: 20px;
}

.action-wrap:last-child {
	margin-right: 0;
}

.btn-cart {
	background: #71d687;
	padding: 10px;
	box-shadow: 0 5px 14px 0 rgba(113, 215, 135, 0.75);
}

.btn-cart img {
	display: inherit;
	width: 20px;
	height: 20px;
}

.btn-more {
	font-weight: 600;
	color: #ffffff;
	background-color: #161aa9;
	text-transform: uppercase;
	box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
}
/*End Btns*/

/*Tooltips*/
[tooltip] {
	position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
	text-transform: none; /* opinion 2 */
	font-size: 14px; /* opinion 3 */
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 0;
}
[tooltip]::before {
	content: '';
	border: 5px solid transparent;
	z-index: 1001;
}
[tooltip]::after {
	content: attr(tooltip);
	font-family: Helvetica, sans-serif;
	text-align: center;
	min-width: 3em;
	max-width: 21em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 6px 8px;
	border-radius: 6px;
	background: #333;
	color: #fff;
	z-index: 1000;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
	display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
	display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
	bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
	left: 50%;
	transform: translate(-50%, -.5em);
}
/*End Tooltips*/
/* KEYFRAMES */
@keyframes tooltips-vert {
	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes tooltips-horz {
	to {
		opacity: 1;
		transform: translate(0, -50%);
	}
}
@-webkit-keyframes typing {
	from {
		width: 0
	}
	to {
		width: 14.17em
	}
}

@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 14.17em
	}
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
	animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
	animation: tooltips-horz 300ms ease-out forwards;
}

@media all and (max-width: 1179px) {
	.container {
		padding: 0 15px;
	}
}